// users/show、users/edit、accounts/show、registrations/edit共通

.users-check-container {
  padding: 60px 50px 200px;
  margin: 0 auto;
  width: 100%;
}

.users-link-container {
  width: 25%;
}

.users-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.users-form-container {
  width: 75%
}

.registrations-edit-header {
  margin-bottom: 30px;
}

.clearfix {
  gap: 30px;
  display: flex;
  justify-content: space-between;
}

.registrations-field {
  padding: 15px 0;
  display: flex;
  align-items: center;
}

.registrations-label {
  font-weight: 600;
  width: 25%; 
}

.users-form-content {
  width: 75%;
}

.registrations-blank {
 width: 100%;
}

.registrations-actions {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
}

